menu "Realme product selection"

config PRODUCT_REALME
	bool "Realme devices"
	help
	  This enables support for Realme devices.

config PRODUCT_REALME_SDM450
	bool "Realme SDM450-Common"

        select PRODUCT_REALME
        depends on ARCH_SDM450

config PRODUCT_REALME_RMX1805
	bool "Realme X"
	select PRODUCT_REALME_SDM450
	help
	  This enables support for Realme 2.

endmenu
