menu "Realme product selection"

config PRODUCT_REALME
	bool "Realme devices"
	help
	  This enables support for Realme devices.

if PRODUCT_REALME

config PRODUCT_REALME_SDM450
	bool "Realme SDM450-Common"

choice
	prompt "Realme device"

config PRODUCT_REALME_RMX1805
	bool "Realme 2"
	select PRODUCT_REALME_SDM450
	help
	  This enables support for Realme 2.

endchoice

endif

endmenu
